  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

  * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
  }

  .container {
      width: 100%;
      padding: 0px 25px;
      margin: 0 auto;
      max-width: 1920px;
  }

  /* MAIN-HEADER */
  /* Pencil Banenr */
  .mob-pencilbanner_main {
      background-color: #232323;

  }

  .mob-pencilbanner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      /* width: 100%; */
  }

  /* BLACK-LEFT */
  .black-box {
      display: none;
  }

  .black-right {
      display: none;
  }

  .mob-black-left {
      display: flex;
      flex-direction: column;
      /* border-bottom: 1px solid #ffff; */
  }

  .mob-black-box {
      color: #ffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px 0px;
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
      font-size: 13px;
  }

  .mob-telephone-icon,
  .mob-time-icon,
  .mob-mail-icon {
      border-bottom: 1px solid #fff;
      width: 100%;
      padding: 3px 0px;
  }

  .mob-telephone-icon a {
      display: flex;
      color: #ffff;
      padding-right: 15px;
      text-decoration: none;
      padding-bottom: 3px;
  }

  .mob-time-icon {
      display: flex;
      padding-left: 14px;
      padding-right: 15px;
      padding-bottom: 3px;
  }

  .mob-mail-icon a {
      display: flex;
      color: #ffff;
      padding-left: 15px;
      text-decoration: none;
  }

  .mob-telephone-icon img {
      padding-right: 12px;
  }

  .mob-telephone-icon a img {
      padding-left: 13px;
  }

  .mob-time-icon img {
      padding-right: 12px;
  }

  .mob-mail-icon a img {
      padding-right: 12px;
  }

  /* BLACK-RIGHT */
  .fa-brands {
      color: #ffff
  }

  .media-icon {
      display: none;
  }

  .mob-media-icon {
      align-items: center;
      display: flex;
      gap: 50px;
      padding-top: 3px;
  }

  .fa-brands:hover {
      color: #f65aa7;

  }

  /* LOGO */

  /* NAVBAR */
  .navigation {
      padding: 3px 0px;
  }

  .logo img {
      display: none;
  }

  .mob-logo img {
      width: 60%;
  }

  .mob-view {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .mobile-bars a {
      font-size: 20px;
      color: gray;
  }

  .menu-list {
      display: none;
  }

  .mob-menu-list {
      display: flex;
      flex-direction: column;
      text-align: center;
      display: none;
      background-color: #232323;
      opacity: 0.9;
  }

  .mob-menu-list li {
      border-bottom: 1px solid #fff;
      padding: 2px;
      list-style-type: none;
      text-transform: uppercase;
      font-family: 'Roboto Slab', serif;
      font-weight: 600;
      font-size: 13px;
      display: block;
  }

  .mob-menu-list li a {
      color: #ffff;
      text-decoration: none;
  }

  /* CART-ICON */
  .shop-icon {
      display: none;
  }

  .mob-shop-icon .fa-cart-shopping,
  .fa-magnifying-glass {
      color: #f65aa7;
  }

  .mob-shop-icon .fa-solid:hover {
      color: #999999;
  }

  .mob-shop-icon {
      padding: 0 0 0 25px;
      align-items: center;
      display: flex;
      gap: 10px;
  }

  /* SLIDER */
  /* SLIDER-1 */
  .slider {
      text-align: center;
  }

  .slider-main {
      /* position: relative; */
      background-image: url(./img/low-poly-abstract-background_559319-136.avif);
      background-size: 101% 100%;
      background-repeat: no-repeat;
      /* display: none; */
  }

  .slider h2 {
      text-transform: uppercase;
      color: #ffff;
      font-family: 'Roboto Slab', serif;
      font-weight: 700;
      font-size: 25px;
      padding-bottom: 10px;
      text-align: center;
      padding-top: 30px;
  }

  .second {
      color: #9fd7ef;
  }

  .busi-card {
      color: #f65aa7;
  }

  .slider p {
      font-size: 12px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      color: #ffff;
      text-transform: capitalize;
      padding-bottom: 47px;
      text-align: center;
  }

  /* BUTTONS */
  .aboutus {
      font-size: 12px;
      padding: 15px 40px;
      border-radius: 8px;
      align-items: center;
      text-decoration: none;
      background-color: #9fd7ef;
      color: #232323;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      display: inline-block;
  }

  .btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 21px;
      justify-content: center;
      padding-bottom: 50px;
  }

  .btn-second {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 21px;
      padding-bottom: 50px;
      justify-content: center;
  }

  .ourworks {
      font-size: 12px;
      padding: 15px 32px;
      border-radius: 8px;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      color: #ffff;
      background-color: #f65aa7;
  }

  .ourworks:hover {
      color: #232323;
      background-color: #9fd7ef;
  }

  /* SLIDER-2 */

  .offer h2 {
      font-size: 25px;
      text-transform: uppercase;
      color: #ffff;
      font-family: 'Roboto Slab', serif;
      font-weight: 700;
      padding-bottom: 10px;
      padding-top: 30px;
  }

  .offer p {
      font-size: 12px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      color: #ffff;
      text-transform: capitalize;
      padding-bottom: 80px;
  }

  /* ICON-CARDS */
  .main-promotion {
      border-bottom: 1px solid #232323;
  }

  .promotion h2 {
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      padding-top: 70px;
      font-family: 'Roboto Slab', serif;
      font-weight: 700;
  }

  .prism::before {
      content: "";
      border: 1px solid #999999;
      position: absolute;
      width: 30px;
      left: 60%;
      top: 36px;
  }

  .prism {
      text-align: center;
      padding-top: 26px;
      position: relative;
  }

  .prism::after {
      content: "";
      border: 1px solid #999999;
      position: absolute;
      width: 30px;
      right: 60%;
      top: 36px;
  }

  .main-cards {
      display: flex;
      flex-direction: column;
      gap: 45px;
      padding-bottom: 40px;
  }

  .card {
      text-align: center;
      padding-top: 60px;
  }

  .card h5 {
      font-size: 16px;
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
      text-transform: capitalize;
      padding-top: 25px;
  }

  .card p {
      font-size: 13px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      padding-top: 25px;
      padding-bottom: 32px;
      color: #777777;
  }

  .card a {
      font-size: 13px;
      text-decoration: none;
      display: inline-block;
      background-color: #9fd7ef;
      color: #232323;
      text-transform: uppercase;
      padding: 10px 30px;
      border-radius: 8px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
  }


  .card .fa-solid {
      padding: 40px;
      font-size: 30px;
      color: #f65aa7;
      border: 1px dashed #f65aa7;
      border-radius: 50%;
  }

  /* PROMOTION PRODUCTS */
  .main-products {
      background-color: #f9f9f9;
  }

  .product h2 {
      text-align: center;
      padding-top: 50px;
      font-family: 'Roboto Slab', serif;
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
  }

  .grey-cards {
      display: flex;
      flex-direction: column;
      gap: 50px;
      padding-top: 61px;
      padding-bottom: 50px;
  }

  .card:hover .fa-solid {
      background-color: #f65aa7;
      color: #ffff;
  }

  .grey-card {
      text-align: center;
      position: relative;
  }

  .grey-card h5 {
      font-size: 15px;
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
  }

  .grey-card a {
      color: #f65aa7;
      font-size: 16px;
      text-decoration: none;
  }

  .grey-card img {
      width: 270px;
      height: 250px;
  }

  .pink-hover {
      display: none;
      position: absolute;
      top: 0;
      width: 270px;
      /* left: 24px; */
      height: 300px;
      background-color: #f662ab;
  }

  .pink-hover .fa-star {
      color: #fbc725;
      padding-top: 95px;
      font-size: 30px;
  }

  .pink-hover .fa-heart {
      background-color: #ffff;
      display: inline-block;
      color: #232323;
  }

  .pink-hover p {
      color: #ffff;
      padding: 19px;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
  }

  .pink-hover a {
      padding: 16px 17px;
      background-color: #ffff;
      display: inline-block;
      text-decoration: none;
      color: #232323;
      border-radius: 10px;
      text-transform: uppercase;
  }























  /* MEDIA QUERY */
  /* MOBILE-SCREEN */
  @media only screen and (min-width: 375px) {

      /* MAIN-HEADER */
      /* PENCILBAR BANNER */
      .pencilbanner_main {
          background-color: #232323;
      }

      .mob-pencilbanner {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          /* width: 100%; */
      }

      /* BLACK-LEFT */
      .black-box {
          display: none;
      }

      .black-right {
          display: none;
      }

      .mob-black-left {
          display: flex;
          flex-direction: column;
          /* border-bottom: 1px solid #ffff; */
      }

      .mob-black-box {
          padding: 15px 0px;
          font-size: 14px;
      }

      .mob-telephone-icon,
      .mob-time-icon,
      .mob-mail-icon {
          border-bottom: 1px solid #fff;
          width: 100%;
          padding: 3px 0px;
      }

      .mob-telephone-icon a {
          display: flex;
          color: #ffff;
          padding-right: 15px;
          text-decoration: none;
          padding-bottom: 3px;
      }

      .mob-time-icon {
          display: flex;
          padding-left: 14px;
          padding-right: 15px;
          padding-bottom: 3px;
      }

      .mob-mail-icon a {
          display: flex;
          color: #ffff;
          padding-left: 15px;
          text-decoration: none;
      }

      .mob-telephone-icon img {
          padding-right: 12px;
      }

      .mob-telephone-icon a img {
          padding-left: 13px;
      }

      .mob-time-icon img {
          padding-right: 12px;
      }

      .mob-mail-icon a img {
          padding-right: 12px;
      }

      /* BLACK-RIGHT */
      .fa-brands {
          color: #ffff
      }

      .media-icon {
          display: none;
      }

      .mob-media-icon {
          align-items: center;
          display: flex;
          gap: 65px;
          padding-top: 3px;
          padding-bottom: 5px;
      }

      .fa-brands:hover {
          color: #f65aa7;
      }

      /* LOGO */

      /* NAVBAR */
      .navigation {
          padding: 4x 0px;
      }

      .logo img {
          display: none;
      }

      .mob-logo img {
          width: 60%;
      }

      .mob-view {
          display: flex;
          align-items: center;
          justify-content: space-between;
      }

      .mobile-bars a {
          font-size: 20px;
          color: gray;
      }

      .menu-list {
          display: none;
      }

      .mob-menu-list {
          display: flex;
          flex-direction: column;
          text-align: center;
          display: none;
          background-color: #232323;
          opacity: 0.9;
      }

      .mob-menu-list li {
          border-bottom: 1px solid #fff;
          padding: 3px;
          list-style-type: none;
          text-transform: uppercase;
          font-family: 'Roboto Slab', serif;
          font-weight: 600;
          font-size: 13px;
          display: block;
      }

      .mob-menu-list li a {
          color: #ffff;
          text-decoration: none;
      }

      /* CART-ICON */
      .shop-icon {
          display: none;
      }

      .mob-shop-icon .fa-cart-shopping,
      .fa-magnifying-glass {
          color: #f65aa7;
      }

      .mob-shop-icon .fa-solid:hover {
          color: #999999;
      }

      .mob-shop-icon {
          padding: 0 0 0 25px;
          align-items: center;
          display: flex;
          gap: 10px;
      }

      /* SLIDER */
      /* SLIDER-1 */
      .slider {
          text-align: center;
      }

      .slider-main {
          /* position: relative; */
          background-image: url(./img/low-poly-abstract-background_559319-136.avif);
          background-size: 101% 100%;
          background-repeat: no-repeat;
          /* display: none; */
      }

      .slider h2 {
          text-transform: uppercase;
          color: #ffff;
          font-family: 'Roboto Slab', serif;
          font-weight: 700;
          font-size: 28px;
          padding-bottom: 10px;
          text-align: center;
          padding-top: 30px;
      }

      .second {
          color: #9fd7ef;
      }

      .busi-card {
          color: #f65aa7;
      }

      .slider p {
          font-size: 13px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          color: #ffff;
          text-transform: capitalize;
          padding-bottom: 47px;
          text-align: center;
      }

      /* BUTTONS */
      .aboutus {
          font-size: 12px;
          padding: 15px 40px;
          border-radius: 8px;
          align-items: center;
          text-decoration: none;
          background-color: #9fd7ef;
          color: #232323;
          text-transform: uppercase;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          display: inline-block;
      }

      .btn {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 21px;
          justify-content: center;
          padding-bottom: 50px;
      }

      .btn-second {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 21px;
          padding-bottom: 70px;
          justify-content: center;
      }

      .ourworks {
          font-size: 12px;
          padding: 15px 32px;
          border-radius: 8px;
          text-decoration: none;
          text-transform: uppercase;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          color: #ffff;
          background-color: #f65aa7;
      }

      .ourworks:hover {
          color: #232323;
          background-color: #9fd7ef;
      }

      /* SLIDER-2 */

      .offer h2 {
          font-size: 25px;
          text-transform: uppercase;
          color: #ffff;
          font-family: 'Roboto Slab', serif;
          font-weight: 700;
          padding-bottom: 10px;
          padding-top: 30px;
      }

      .offer p {
          font-size: 12px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          color: #ffff;
          text-transform: capitalize;
          padding-bottom: 80px;
      }

      /* ICON-CARDS */
      .main-promotion {
          border-bottom: 1px solid #232323;
      }

      .promotion h2 {
          font-size: 20px;
          text-transform: uppercase;
          text-align: center;
          padding-top: 70px;
          font-family: 'Roboto Slab', serif;
          font-weight: 700;
      }

      .prism::before {
          content: "";
          border: 1px solid #999999;
          position: absolute;
          width: 30px;
          left: 60%;
          top: 36px;
      }

      .prism {
          text-align: center;
          padding-top: 26px;
          position: relative;
      }

      .prism::after {
          content: "";
          border: 1px solid #999999;
          position: absolute;
          width: 30px;
          right: 60%;
          top: 36px;
      }

      .main-cards {
          display: flex;
          flex-direction: column;
          gap: 45px;
          padding-bottom: 40px;
      }

      .card {
          text-align: center;
          padding-top: 60px;
      }

      .card h5 {
          font-size: 16px;
          font-family: 'Roboto Slab', serif;
          font-weight: 400;
          text-transform: capitalize;
          padding-top: 25px;
      }

      .card p {
          font-size: 13px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          padding-top: 25px;
          padding-bottom: 32px;
          color: #777777;
      }

      .card a {
          font-size: 13px;
          text-decoration: none;
          display: inline-block;
          background-color: #9fd7ef;
          color: #232323;
          text-transform: uppercase;
          padding: 10px 30px;
          border-radius: 8px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
      }

      .card .fa-solid {
          padding: 40px;
          font-size: 30px;
          color: #f65aa7;
          border: 1px dashed #f65aa7;
          border-radius: 50%;
      }
  }

  @media only screen and (min-width: 1024px) {

      .container {
          width: 100%;
          padding: 0px 59px;
          margin: 0 auto;
          max-width: 1920px;

      }

      /* MAIN-HEADER */
      /* PENCILBAR BANNER */
      .pencilbanner_main {
          background-color: #232323;
      }

      .pencilbanner {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
      }

      .mob-pencilbanner {
          display: none;
      }

      /* BLACK-LEFT */
      .black-left {
          display: flex;
          flex-direction: row;
      }

      .black-box {
          display: flex;
          color: #ffff;
          align-items: center;
          padding: 10px 0px;
          font-size: 12px;
          font-family: 'Roboto Slab', serif;
          font-weight: 400;
      }

      .telephone-icon,
      .time-icon,
      .mail-icon {
          border: none;
      }

      .telephone-icon a {
          display: flex;
          color: #ffff;
          padding-right: 8px;
          text-decoration: none;
      }

      .time-icon {
          display: flex;
          border-left: 1px solid #999999;
          padding-left: 10px;
          padding-right: 9px;
      }

      .telephone-icon a img {
          padding-right: 9px;
      }

      .time-icon img {
          padding-right: 9px;
      }


      .mail-icon a img {
          padding-right: 9px;
      }

      .mail-icon a {
          display: flex;
          color: #ffff;
          padding-left: 10px;
          border-left: 1px solid #999999;
          text-decoration: none;
      }

      /* BLACK-RIGHT */
      .fa-brands {
          color: #ffff
      }

      .black-right {
          display: block;
      }

      .media-icon {
          align-items: center;
          display: flex;
          gap: 15px;
      }

      .mob-media-icon {
          display: none;
      }

      .fa-brands:hover {
          color: #f65aa7;

      }

      /* NAVBAR */
      .navigation {
          display: flex;
          align-items: center;
          justify-content: space-between;
      }

      .logo img {
          display: block;
      }

      .menu_list_main {
          display: flex;
          flex-direction: row;
          padding: 20px 0;
      }

      .mob-menu-list li {
          display: none;
      }

      .menu-list {
          display: flex;
          gap: 18px;
          padding-right: 13px;
          align-items: center;
          border-right: 1px solid #999999;
      }

      .menu-list li {
          list-style-type: none;
          text-transform: uppercase;
          font-family: 'Roboto Slab', serif;
          font-weight: 400;
          font-size: 12px;
      }

      .menu-list li a {
          display: flex;
          text-decoration: none;
      }

      /* CART-ICON */
      .shop-icon {
          padding: 0 0 0 20px;
          align-items: center;
          display: flex;
          gap: 20px;
      }

      .shop-icon .fa-solid {
          color: #f65aa7;
      }

      .shop-icon .fa-solid:hover {
          color: #999999;
      }

      /* MOB-NAV-BAR */
      .mob-shop-icon {
          display: none;
      }

      .mob-logo {
          display: none;
      }

      .mobile-bars {
          display: none;
      }

      /* SLIDER */
      .fa-solid:hover {
          background-color: #ffff;
          color: #232323;
      }

      .fa-arrow-left {
          position: absolute;
          top: 50%;
          z-index: 1;
          left: 25px;
          cursor: pointer;
          color: #ffff;
          border: 1px solid #ffff;
          padding: 16px 21px;
      }

      .fa-arrow-right {
          position: absolute;
          top: 50%;
          z-index: 1;
          right: 25px;
          cursor: pointer;
          color: #ffff;
          border: 1px solid #ffff;
          padding: 16px 21px;
      }


      /* slider-1 */
      .slider-main {
          /* background-color: #777777;
          padding: 220px 0px 180px 0px;
          display: block;*/
          background-image: url(./img/low-poly-abstract-background_559319-136.avif);
          background-size: 101% 100%;
          background-repeat: no-repeat;
          /* display: none; */
      }

      .slider {
          text-align: center;
      }

      .slider h2 {
          text-transform: uppercase;
          color: #ffff;
          font-family: 'Roboto Slab', serif;
          font-weight: 700;
          font-size: 42px;
      }

      .second {
          color: #9fd7ef;
      }

      .busi-card {
          color: #f65aa7;
      }

      .slider p {
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          color: #ffff;
          text-transform: capitalize;
          padding-bottom: 47px;
      }

      .aboutus {
          align-items: center;
          border-radius: 8px;
          text-decoration: none;
          background-color: #9fd7ef;
          padding: 13px 23px;
          color: #232323;
          text-transform: uppercase;
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          display: inline-block;
      }

      .aboutus:hover {
          color: #ffff;
          background-color: #f65aa7;
      }

      .btn {
          display: flex;
          gap: 21px;
          justify-content: center;
      }

      .btn-second {
          display: flex;
          gap: 21px;
      }

      .ourworks {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          color: #ffff;
          background-color: #f65aa7;
          padding: 13px 23px;
          border-radius: 8px;

      }

      .ourworks:hover {
          color: #232323;
          background-color: #9fd7ef;
      }



      /* SLIDER-2 */
      .offer {
          padding: 40px 0px 15px 0px;
      }

      .offer h2 {
          text-transform: uppercase;
          color: #ffff;
          font-family: 'Roboto Slab', serif;
          font-weight: 700;
          font-size: 42px;
      }

      .offer p {
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          color: #ffff;
          text-transform: capitalize;
          padding-bottom: 47px;
      }

      /* ICON-CARDS */
      .promotion h2 {
          font-size: 32px;
          text-transform: uppercase;
          text-align: center;
          padding-top: 145px;
          font-family: 'Roboto Slab', serif;
          font-weight: 700;
      }

      /* PRISM-IMAGE */
      .prism::before {
          content: "";
          border: 1px solid #999999;
          position: absolute;
          width: 66px;
          left: 39%;
          top: 36px;
          display: block;
      }

      /* .mob-prism::before {
          display: none;
      } */

      .prism {
          text-align: center;
          padding-top: 26px;
          position: relative;
          display: block;
      }

      /* .mob-prism {
          display: none;
      } */

      .prism::after {
          content: "";
          border: 1px solid #999999;
          position: absolute;
          width: 66px;
          top: 36px;
          right: 39%;
          display: block;
      }

      /* .mob-prism::after {
          display: none;
      } */

      .main-cards {
          display: flex;
          flex-direction: row;
          gap: 45px;
          padding-bottom: 150px;
      }

      .card {
          text-align: center;
          padding-top: 73px;
          width: 25%;
      }

      .card h5 {
          font-size: 18px;
          font-family: 'Roboto Slab', serif;
          font-weight: 400;
          text-transform: capitalize;
          padding-top: 25px;
      }

      .card p {
          font-size: 15px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          padding-top: 25px;
          padding-bottom: 32px;
          color: #777777;
      }

      .card a {
          font-size: 13px;
          text-decoration: none;
          display: inline-block;
          background-color: #9fd7ef;
          color: #232323;
          text-transform: uppercase;
          padding: 10px 30px;
          border-radius: 8px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
      }

      .card .fa-solid {
          padding: 40px;
          font-size: 30px;
          color: #f65aa7;
          border: 1px dashed #f65aa7;
          border-radius: 50%;
      }

      /* PROMOTION PRODUCTS */
      .main-products {
          background-color: #f9f9f9;
      }

      .product h2 {
          text-align: center;
          padding-top: 145px;
          font-family: 'Roboto Slab', serif;
          font-weight: 700;
          font-size: 32px;
          text-transform: uppercase;
      }

      .grey-cards {
          display: flex;
          flex-direction: row;
          gap: 50px;
          padding-top: 61px;

      }

      .product {
          padding-bottom: 50px;
      }



      .card:hover .fa-solid {
          background-color: #f65aa7;
          color: #ffff;
      }

      .grey-card {
          text-align: center;
          position: relative;
          width: 25%;
      }

      .grey-card h5 {
          font-size: 20px;
          font-family: 'Roboto Slab', serif;
          font-weight: 400;
      }

      .grey-card a {
          color: #f65aa7;
          font-size: 20px;
          text-decoration: none;
      }

      .grey-card img {
          width: 100%;
          /* height: 300px; */
      }

      /* .grey-card img:hover .fa-solid {
          background-color: #f65aa7;
      } */
      .grey-card:hover .pink-hover {
          display: block;
      }

      .pink-hover {
          display: none;
          position: absolute;
          top: 0;
          width: 194px;
          height: 250px;
          background-color: #f662ab;
      }

      .pink-hover .fa-star {
          color: #fbc725;
          padding-top: 95px;
          font-size: 20px;
      }

      .pink-hover p {
          color: #ffff;
          padding: 19px;
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
      }

      .pink-hover a {
          font-size: 12px;
          font-weight: bold;
          padding: 11px 5px;
          background-color: #ffff;
          display: inline-block;
          text-decoration: none;
          color: #232323;
          border-radius: 10px;
          text-transform: uppercase;
      }

      .pink-hover a .fa-heart {
          background-color: #ffff;
          display: inline-block;
          color: #232323;
          padding: 0px 4px;
      }

  }

  @media only screen and (min-width: 1366px) {
      .container {
          padding: 0px 150px;
      }

      /* MAIN-HEADER */
      /* BLACK-LEFT */
      .black-box {
          padding: 12px 0px;
          font-size: 14px;
      }

      .telephone-icon a img {
          padding-right: 10px;
      }

      .time-icon img {
          padding-right: 9px;
      }

      .time-icon {
          padding-left: 10px;
          padding-right: 9px;
      }

      .mail-icon a img {
          padding-right: 9px;
      }

      .mail-icon a {
          padding-left: 10px;
      }


      /* BLACK-RIGHT */
      .media-icon {
          gap: 15px;
      }

      /* NAVBAR */
      .navigation {
          display: flex;
          align-items: center;
          justify-content: space-between;

      }

      .logo img {
          display: block;
      }

      .menu_list_main {
          padding: 25px 0;
      }

      .menu-list {
          gap: 35px;
          padding-right: 13px;
      }

      .menu-list li {
          font-size: 13px;
      }

      /* CART-ICON */
      .shop-icon {
          padding: 0 0 0 17px;
          gap: 15px;
      }

      .shop-icon .fa-solid {
          color: #f65aa7;
      }

      .shop-icon .fa-solid:hover {
          color: #999999;
      }

      /* SLIDER */
      .fa-solid:hover {
          background-color: #ffff;
          color: #232323;
      }

      .fa-arrow-left {
          position: absolute;
          top: 50%;
          z-index: 1;
          left: 25px;
          cursor: pointer;
          color: #ffff;
          border: 1px solid #ffff;
          padding: 16px 21px;
      }

      .fa-arrow-right {
          position: absolute;
          top: 50%;
          z-index: 1;
          right: 25px;
          cursor: pointer;
          color: #ffff;
          border: 1px solid #ffff;
          padding: 16px 21px;
      }

      /* SLIDER-1 */
      .slider h2 {
          text-transform: uppercase;
          color: #ffff;
          font-family: 'Roboto Slab', serif;
          font-weight: 700;
          font-size: 43px;
      }

      .slider p {
          font-size: 16px;
          padding-bottom: 47px;
      }

      .btn {
          display: flex;
          gap: 25px;
          justify-content: center;
      }

      .btn-second {
          display: flex;
          gap: 25px;
      }

      /* SLIDER-2 */
      .offer {
          padding: 40px 0px 17px 0px;
      }

      .offer h2 {
          font-size: 43px;
      }

      .offer p {
          font-size: 16px;
          padding-bottom: 47px;
      }

      /* ICON-CARDS */
      .promotion h2 {
          font-size: 35px;
          padding-top: 145px;

      }

      /* PRISM-IMAGE */
      .prism::before {
          left: 40%;
      }

      .prism::after {
          right: 40%;
      }

      .main-cards {
          display: flex;
          flex-direction: row;
          gap: 55px;
          padding-bottom: 150px;
      }

      .card h5 {
          font-size: 20px;

      }

      .card p {
          font-size: 18px;

      }


      /* PROMOTION PRODUCTS */
      .pink-hover {
          display: none;
          position: absolute;
          top: 0;
          width: 225px;
          height: 250px;
          background-color: #f662ab;
      }

      .pink-hover a {
          font-size: 15px;
          font-weight: bold;
          padding: 14px 12px;
          background-color: #ffff;
          display: inline-block;
          text-decoration: none;
          color: #232323;
          border-radius: 10px;
          text-transform: uppercase;
      }
  }

  @media only screen and (min-width: 1440px) {
      .container {
          padding: 0px 255px;
      }

      /* MAIN-HEADER */
      /* BLACK-LEFT */
      .black-box {
          padding: 11px 0px;
          font-size: 12px;
      }

      .telephone-icon a {
          padding-right: 9px;
      }

      .telephone-icon a img {
          padding-right: 10px;
      }


      .time-icon img {
          padding-right: 10px;
      }

      .time-icon {
          padding-left: 11px;
          padding-right: 10px;
      }

      .mail-icon a img {
          padding-right: 10px;
      }

      .mail-icon a {
          padding-left: 12px;
      }

      /* BLACK-RIGHT */
      .media-icon {
          gap: 17px;
      }

      /* NAVBAR */
      .menu_list_main {
          padding: 28px 0;
      }

      .menu-list {
          gap: 39px;
          padding-right: 15px;
      }

      .menu-list li {
          font-size: 11px;
      }

      .main-cards {
          display: flex;
          flex-direction: row;
          gap: 45px;
          padding-bottom: 150px;
      }

      /* PROMOTION PRODUCTS */

      .grey-cards {
          display: flex;
          flex-direction: row;
          gap: 50px;
          padding-top: 61px;

      }

      .card:hover .fa-solid {
          background-color: #f65aa7;
          color: #ffff;
      }

  }

  @media only screen and (min-width: 1920px) {
      .container {
          padding: 0px 375px;
      }

      /* MAIN-HEADER */
      /* BLACK-LEFT */
      .black-box {
          padding: 12px 0px;
          font-size: 15px;
      }


      .telephone-icon a {
          padding-right: 15px;

      }

      .time-icon {
          padding-left: 14px;
          padding-right: 15px;
      }

      .mail-icon a {
          padding-left: 15px;
      }

      .telephone-icon a img {
          padding-right: 12px;
      }

      .time-icon img {
          padding-right: 12px;
      }

      .mail-icon a img {
          padding-right: 12px;
      }

      /* BLACK-RIGHT */
      .media-icon {
          gap: 20px;
      }

      /* NAVBAR */
      .menu_list_main {
          padding: 35px 0;
      }

      .menu-list {
          gap: 45px;
          padding-right: 19px;
      }

      .menu-list li {
          font-size: 13px;
      }

      /* PROMOTION PRODUCTS */

      .card:hover .fa-solid {
          background-color: #f65aa7;
          color: #ffff;
      }
  }